<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>내 정보</h2>
  </div>
  <div th:if="${member != null}">
    <p>아이디: <span th:text="${member.loginId}">loginId</span></p>
    <p>이름: <span th:text="${member.name}">name</span></p>
  </div>
  <hr class="my-4">
  <a class="btn btn-primary" href="/" role="button">홈으로 돌아가기</a>
</div>
</body>
</html>
